body{
  top: 0 !important;
  letter-spacing: 0;
}
.currency-wrapper select{
  width: 65px;
  height:25px;
  padding: 0 4px;
  border-radius: 0;
  border: 0;
}
.language-wrapper select{
  width: 130px;
  height: 25px;
  padding: 0 4px;
  border-radius: 0;
  border: 0;
  margin: 0 !important;
}
.language-wrapper #google_translate_element span{
  display: none;
}
.language-wrapper #google_translate_element{
  height: 25px;
}
.header-action .header-action-item i{
  font-size: 20px;
  color: #fff;
}
.pageheading{
  font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.collectionbox{
  padding: 0;
  margin: 0 ;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.collectionbox li{
  display: inline-block;
  width: 20%;
  font-size: 1px;
  position: relative;
  flex: 0 0 auto;
  width: 20%;
  margin-left: -1px;
  margin-top: -1px;
}
.collectionbox li a{
    display: block;
    padding: 25px;
    border: 1px solid #eeee;
    transition: all .3s;
}
.collectionbox li:first-child a{
  border-left:  1px solid #eeee;
}
.collectionbox li h3{
    margin-bottom: 0;
    text-align: center;
    margin-top: 18px;
    font-weight: 400;
    font-size: 15px;
}
.collectionbox li a:hover{
  background: #eee;
}
.category-box{
  padding: 15px;
  border: 1px solid #eee;
  transition: all .3s;
}
.category-box:hover{
  background: #eee;
  border: 1px solid #eee;
}
.category-box img{
  height: 180px;
  object-fit: contain;
  background: #f7f7f7;
}
.category-box h4{
  margin-bottom: 0;
  text-align: center;
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
}
.blockslide .owl-next{
    position: absolute;
    top: 42%;
    height: 25px;
    width: 24px;
    right: -12px;
    background: #000 !important;
    color: #fff  !important;
}
.blockslide .owl-prev{
    position: absolute;
    top: 42%;
    height: 25px;
    width: 24px;
    left: -12px;
    background: #000 !important;
    color: #fff  !important;
}
.gallery-box {
  border: 1px solid #eee;
  padding: 10px;
}
.gallery-box img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  transition: all .3s;
}
.gallery-box:hover img{
  transform: scale(1.03);
}
.latestnews .category-box img{
  object-fit: cover;
}
.latestnews .category-box h4{
  text-align: left;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}
.latestnews .category-box  p{
  color: #222;
  font-size: 14px;
}
.latestnews .category-box{
  min-height: 360px;
}
.article-card-img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.newsletter-wrapper{
  padding-top: 6px;
}
.paymenticons{
  padding: 0;
  margin-top: 40px;
  margin-bottom: 0;
}
.paymenticons li{
  display: inline-block;
}
.paymenticons li img{
  height: 28px;
}

.ht-box-icon {
    position: relative;
    transition: all .5s;
}

.ht-box-icon::before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.5s linear;
    background: #ff1749;
    z-index: 1;
    top: 0;
    left: 0;
}
.ht-box-icon::after{
  content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.5s linear;
    background: #ff1749;
    z-index: 1;
    bottom: 0;
    left: 0;
}
.ht-box-icon::before, .ht-box-icon::after {
    transition-delay: 0.2s;
}
.ht-box-icon:hover::before, .ht-box-icon:hover::after {
    transition-delay: 0s;
}
.ht-box-icon:hover::before, .ht-box-icon:hover::after {
    width: 100%;
}

.collectionbox li::before {
    content: "";
    width: 1px;
    height: 0;
    position: absolute;
    transition: all 0.5s linear;
    background: #ff1749;
    z-index: 1;
    top: 0;
    left: 0;
    transition-delay: 0.2s;
}
.collectionbox li::after {
    content: "";
    width: 1px;
    height: 0;
    position: absolute;
    transition: all 0.5s linear;
    background: #ff1749;
    z-index: 1;
    bottom: 0;
    right: 0;
    transition-delay: 0.2s;
}
.collectionbox li:hover::before, .collectionbox li:hover::after {
    transition-delay: 0s;
}
.collectionbox li:hover::before, .collectionbox li:hover::after {
    height: 100%;
}
.breadcrumb {
  margin-top: 15px;
  margin-bottom: 15px;
}
.breadcrumb .breadcrumb-item, .breadcrumb .breadcrumb-item a{
  font-size: 13px;
}
.breadcrumb .breadcrumb-item{
  padding-right: 20px;
  position: relative;
}
.breadcrumb .breadcrumb-item:after{
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  font-size: 10px;
  right: 1px;
  top: 2px;
  color: #ff1749;
}
.breadcrumb .breadcrumb-item:last-child:after{
  display: none;
}
.filterchoose{
  margin-right: 6px;
}
.filterchoose input{
  display: none;
}
.filterchoose label{
  border: 1px solid #d1d1d1;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 30px;
}
.filterchoose input[type="radio"]:checked+label{
  background: #ff1749;
  color: #fff;
  border-color: #ff1749;
}
.filter-pnl{
  font-size: 13px;
}
.filter-pnl select{
  border: 1px solid #d1d1d1;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 30px;
  width: 125px;
}
.artlist{
  transition: all .3s;
}
.artlist:hover{
  box-shadow: 0px 5px 18px #00000026;
  transform: translateY(-5px);
  border: 1px solid rgba(038, 191, 64, 1);
}
.artlist .card-image{
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}
.artlist .card-image img{
  max-height: 200px;
  height: 200px;
  object-fit: contain;
  margin: auto;
}
.artlist .card-body h2{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.artlist .card-body h2 a{
  color: #000;
}
.artlist .card-body h2 a:hover{
  color: #ff1749;
}
.artlist .card-body p{
  font-size: 14px;
  margin-bottom: 4px;
}
.artlist .card-body p i{
  color: #ff1749;
}
.artworkbadge{
  display: inline-block;
  background: #00234d;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 6px;
  border-radius: 4px;
}
.optionlist{
  padding: 0;
  margin: 0 0 10px 0;
}
.optionlist li{
  display: inline-block;
  font-size: 13px;
  margin-right: 8px;
  color: #5e5e5e;
}
.artlist .card-footer{
  padding: 10px 0 0;
  background: transparent;
  font-size: 13px;
}
.artlist .likebtn{
  display: inline-block;
  color: #000;
  padding: 2px 6px;
  border: 1px solid #dfdfdf;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
}
.artlist .likebtn:hover, .artlist .likebtn.active{
  background: #ff1749;
  color: #fff;
  border-color: #ff1749;
}

.skiptranslate > iframe{
  display: none;
  height: 0;
}
.slide-subheading p{
  margin-bottom: 0;
}
.formlogo img{
  height: 80px;
}
.login-form h2{
  font-size: 18px;
  margin: 15px 0;
  font-weight: 500;
  color: #000;
}
.login-form h3{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #333;
}
.login-form label{
  font-weight: 500;
  font-size: 14px;
}
.login-form .form-control{
  background: #f8fafa none repeat scroll 0 0;
  border: 1px solid #eaeaea;
  border-radius: 7px;
  color: #535165;
  font-size: 13px;
  min-height: 44px;
}
.login-form .btn-signin{
  background: #ff1749;
  font-size: 15px;
}
.orpnl {
  position: relative;
}
.orpnl:after{
  position: absolute;
  width: 100%;
  height: 1px;
  content: '';
  left: 0;
  top: 13px;
  background: #e3e3e3;
  z-index: 1;
}
.orpnl span{
  display: inline-block;
  width: 26px;
  background: #00234d;
  height: 26px;
  color: #fff;
  line-height: 26px;
  border-radius: 50%;
  z-index: 9;
  position: relative;
}
.loginsocial .btn{
  min-height: 40px;
  border-radius: 4px;
  border: 0;
  padding: 0 15px;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
}
.loginsocial .btn-fb{
  background: #3b5998;
  color: #fff;
}
.loginsocial .btn-fb{
  background: #3b5998;
  color: #fff;
}
.loginsocial .btn-google{
  background: #DB4437;
  color: #fff;
}
.categoryboxtitle{
  display: block;
  text-align: center;
}
.categoryboxlist .item{
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
.categoryboxlist .item:after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000001f;
  z-index: 1;
  content: '';
  border-radius: 4px;
  transition: all .3s;
}
.categoryboxlist .item:hover:after{
  background: #0000007a;
}
.categoryboxlist .categoryboxtitle{
  padding: 6px;
  min-height: 90px;
  position: relative;
    z-index: 9;
}
.categoryboxlist .categoryboxtitle h2{
  font-size: 13px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 4px #000;
  position: absolute;
  top: 38px;
  width: 100%;
  left: 0;
  z-index: 9;
}
.categoryboxlist .owl-next i{
  position: absolute;
  right: 0;
  top: 34px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background: #fff;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
}
.categoryboxlist .owl-prev i{
  position: absolute;
  left: 0;
  top: 34px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background: #fff;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
}
.socialshare{
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 13px;
  vertical-align: middle;
  border: 1px solid #5e5e5e;
  line-height: 25px;
  border-radius: 50%;
  color: #5e5e5e;
  margin-left: 1px;
  transition: all .3s;
}
.socialshare:hover{
  border: 1px solid #00234d;
  background: #00234d;
  color: #fff;
}
.fw-semibold{
  font-weight: 500;
}
.artlist .btn-theme{
  background: #ff1749;
  color: #fff;
  padding: 0px 10px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  border: 0;
  min-width: 90px;
}
.sidefilter .card-title{
  font-size: 15px;
  font-weight: 500;
}

.range-slider {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  height: auto;
}

.range-slider svg,
.range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
}

.range-slider input[type=number] {
    border: 0;
    font-size: 13px;
    color: #ff1749;
    font-weight: 500;
    width: 40px;
}

.range-slider input[type=number]::-webkit-outer-spin-button,
.range-slider input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-slider input[type=number]:invalid,
.range-slider input[type=number]:out-of-range {
  border: 2px solid #ff1749;
}

.range-slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

.range-slider input[type=range]:focus {
  outline: none;
}

.range-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #999;
}

.range-slider input[type=range]:focus::-ms-fill-lower {
  background: #999;
}

.range-slider input[type=range]:focus::-ms-fill-upper {
  background: #999;
}

.range-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #999;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

.range-slider input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #ff1749;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ff1749;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.range-slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #ff1749;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

.range-slider input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #ff1749;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ff1749;
  cursor: pointer;
}

.range-slider input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-slider input[type=range]::-ms-fill-lower,
.range-slider input[type=range]::-ms-fill-upper {
  background: #ff1749;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

.range-slider input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #ff1749;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ff1749;
  cursor: pointer;
}
.listchk{
  margin-bottom:8px;
  font-size: 13px;
}
.listchk input[type="checkbox"]{
  position: relative;
  top: 1px;
  margin-right: 4px;
}
.full-with-pic-smallthumb img{
  height: 130px;
  object-fit: contain;
  border-radius: 5px;
}
.exhibition-pnl h2{
  margin: 0;
  background: #ff1749;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
}
.sidefilter .card-title {
    font-size: 15px;
    font-weight: 500;
}
.card hr{
  background: #9f9f9f;
}
.biocontent p{
  text-align: justify;
  font-size: 13.5px;
}
.proinfotext li{
  line-height: 1.6;
  margin-bottom: 5px;
}